
      <div id="" class="card border-2 border-tertiary-500 rounded min-w-56 max-w-56 md:snap-end
          snap-center">
        <div id="" class="card-top">
          <img class="" src="https://placehold.co/600x400/png" alt="" />
        </div>
        <div id="" class="card-bot p-4 px-4 flex flex-wrap flex-col shadow-lg shadow-tertiary-500">
          <h2 class="text-center text-tertiary-100">
            Rx: VYMADA Sacubtril + Valsartan FC Tab 200mg
          </h2>
          <p class="text-center text-tertiary-200 py-4">₱ 99.00</p>
          <div class="flex gap-3 justify-around">
            <div class="border-2 border-primary-500 hover:border-primary-700 rounded p-1">
              <button class="text-primary-500 hover:-scale-y-125" type="">
                -
              </button>
              <input class="max-w-8 text-center bg-tertiary-800" type="number" name="" min="1" value="1" />
              <button class="text-primary-500 hover:-scale-y-125" type="">
                +
              </button>
            </div>
            <button
              class="border-2 border-primary-500 rounded p-1 bg-primary-500  hover:bg-primary-600 hover:scale-105 text-tertiary-800"
              type="button">
              Add to Cart
            </button>
          </div>
        </div>
      </div>
